@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

.body {
  background-color: $dark-yellow;
}

.logo {
  background-image: url('../../assets/icons/logo.svg');
  width: 80px;
  height: 40px;
}

.content-wrapper {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: space-around;
}
.page {
  padding-top: 30px;
}
.reg-page {
  display: flex;
  justify-content: center;
}

.icon-number {
  margin-right: 20px;
}

.screen {
  background-size: contain;
}
.grey-modal {
  opacity: 0.7;
  background-color: $grey;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.table {
  display: block;
  position: relative;
  width: fit-content;
  margin: 0 auto 0;
  transition: all 0.5s ease 0.2s;
}

.modal-content {
  display: flex;
  flex-direction: column;
  opacity: 1;
  position: fixed;
  width: 75%;
  left: 50%;
  top: 30%;
  margin-left: -37.5%;
  height: 50vh;
  background-color: $white;
  border: solid 4px $black;
  z-index: 22;
}

.hidden {
  display: none;
}

.avatar {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  object-fit: fill;
  border-radius: 50%;
  background-color: $green-valid;
  text-align: center;
  font-family: 'Roboto', 'Helvetica Neue', serif;
  color: $black;
}

.chess-wrapper {
  padding-top: 30px;
  background-color: transparent;
}

.rotate {
  transform: rotate(180deg);
}

.row {
  display: flex;
}

.cell {
  width: 9vh;
  height: 9vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chess__head {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin-bottom: 20px;
}

.chess__body {
  display: flex;
}

.chess__history {
  display: flex;
  height: 80vh;
  width: 20%;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  overflow-y: scroll;
  font-family: 'Roboto', sans-serif;

  &_items {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  &_item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  &_header {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .chess__figure {
    width: 20px;
    height: 20px;
    position: relative;
  }
}

.chess-field__bp {
  background-image: url('../../assets/icons/black-pawn.svg');
}

.chess-field__bk {
  background-image: url('../../assets/icons/black-king.svg');
}

.chess-field__bn {
  background-image: url('../../assets/icons/black-knight.svg');
}

.chess-field__bb {
  background-image: url('../../assets/icons/black-bishop.svg');
}

.chess-field__bq {
  background-image: url('../../assets/icons/black-queen.svg');
}

.chess-field__br {
  background-image: url('../../assets/icons/black-rook.svg');
}

.chess-field__wq {
  background-image: url('../../assets/icons/white-queen.svg');
}

.chess-field__wr {
  background-image: url('../../assets/icons/white-rook.svg');
}

.chess-field__wb {
  background-image: url('../../assets/icons/white-bishop.svg');
}

.chess-field__wn {
  background-image: url('../../assets/icons/white-knight.svg');
}

.chess-field__wk {
  background-image: url('../../assets/icons/white-king.svg');
}

.chess-field__wp {
  background-image: url('../../assets/icons/white-pawn.svg');
}

.chess__figure {
  width: 50%;
  height: 100%;
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  pointer-events: none;
  border: 3px solid transparent;
  transition:
    border 0.1s,
    left 0.7s,
    right 0.7s,
    top 0.7s,
    bottom 0.7s,
    opacity 0.3s;
  z-index: 5;
}

.player-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  .user {
    text-align: center;
  }
}

.current {
  background-color: $green;
}

.cell__allowed::before {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $grey;
  opacity: 0.7;
}

.cell__light {
  background-color: $white;
}

.cell__dark {
  background-color: $green;
}

.cell__allowed {
  border: solid 3px $brown;
}

.cell__selected {
  border: solid 3px $black;
}

.cell__check {
  background-color: $red;
}

.cell__mate {
  background-color: $black;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.card {
  display: flex;
  position: relative;
  width: 500px;
  height: 250px;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 3px solid $dark-yellow;
  border-radius: 5px;
  background-color: $white;
}

.card__online {
  position: absolute;
  top: 10px;
  font-weight: bold;
  left: 50%;
  font-size: 1.6rem;
  transform: translateX(-50%);
  color: $light-green;
  display: none;
}

.online .card__online {
  display: block;
}

.card__player {
  position: relative;
}

.card__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid $dark-yellow;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.card__content {
  display: flex;
}

.card__figure {
  width: 40px;
  height: 40px;
  border: 3px solid $dark-yellow;
  border-radius: 50%;
  background-color: $white;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -6px;
}

.card__result {
  position: absolute;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 50%;
  overflow: hidden;
  top: -17px;
  right: -7px;
}

.card__name {
  font-size: 1.8rem;
  font-weight: bold;
  color: $dark-yellow;
  text-align: center;
  padding-top: 10px;
}

.card__desc {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  text-align: center;
  font-size: 1.6rem;
}

.card__text {
  margin: 5px 0;
}

.card__text .atribute {
  font-weight: bold;
  color: $green;
}

.card__buttons {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  cursor: pointer;
  opacity: 0;
  background-color: $black-light;
  transition: all 0.3s;
}

.card__buttons .button {
  margin: 10px;
}

.card__buttons:hover {
  opacity: 1;
}

.select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;

  &::-ms-expand {
    display: none;
  }

  outline: none;
}

.select {
  display: grid;
  grid-template-areas: 'select';
  align-items: center;
  position: relative;

  &,
  &::after {
    grid-area: select;
  }

  min-width: 15ch;
  max-width: 30ch;

  border: 1px solid $black;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;

  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: $perfect-white;
  background-image: linear-gradient(to top, $white, $perfect-white 33%);

  &:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid $black;
    border-radius: inherit;
  }
}

.select-multiple {
  padding-right: 0;
  height: 6rem;

  .option {
    white-space: normal;
    outline-color: $black;
  }

  &:not(:disabled) .option {
    border-radius: 12px;
    transition: 120ms all ease-in;

    &:checked {
      background: linear-gradient($light-purple, $purple);
      padding-left: 0.5em;
      color: $black !important;
    }
  }
}

.coordinates {
  position: absolute;
  transform: translate(-7%, 5%);
  left: 0;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 600;
  height: 72vh;
  line-height: 1;
  width: 75vh;
  z-index: -1;
}

.rotate text {
  transform: scaleX(-1) rotate(180deg);
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes rot {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.chess .coordinates {
  animation: rot1 1s ease-in-out;
}

.rotate .coordinates {
  animation: rot 1s ease-in-out;
  transform: scaleX(-1) translate(-3%, 5%);
  transform-origin: center;
}

@keyframes rot {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes rot1 {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.countdown {
  box-shadow: 0 1px 2px 0 $black-light;
  width: 240px;
  height: 96px;
  text-align: center;
  background: $white;

  border-radius: 5px;

  margin: auto;

  .tiles {
    color: $perfect-white;
    position: relative;
    z-index: 1;
    text-shadow: 1px 1px 0 $grey;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    font-size: 48px;
    font-weight: 300;
    display: block;
    background: $green;
  }

  .countdown__label {
    font-family: 'Roboto', sans-serif;
    color: $dark-yellow;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    margin-top: 9px;
  }
}
.settings-wrapper {
  padding-top: 30px;
}
.select-controller {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 30px;
  .label {
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }
}
.lobby-icon {
  background-image: url('../../assets/icons/logo.svg');
}
.replay-icon {
  background-image: url('../../assets/icons/replay.svg');
}
.settings-icon {
  background-image: url('../../assets/icons/settings.svg');
}
.link {
  font-size: 18px;
  text-decoration: none;
  color: $white;
}
.signup__form {
  padding: 2.5rem;
  background: $white;
  .label {
    font-size: 24px;
    text-transform: uppercase;
    color: $grey;
  }
}
.form-control {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  &:focus {
    border-color: $black;
  }
}
[type='text'] {
  color: $black;
}
.btn--form {
  padding: 0.5rem 2.5rem;
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: uppercase;
  color: $white;
  background: $black;
  border-radius: 35px;
  &:focus,
  &:hover {
    background: lighten($black, 13%);
  }
}
.signup__link {
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: underline;
  color: $grey;
  &:focus,
  &:hover {
    color: darken($grey, 13%);
  }
}

.pop-up__header {
  margin-bottom: 30px;
  font-size: 36px;
}
